body {
    background-color: coral;
}

.aboutme,.navbar-brand {
   color: black; 
   
}

.word {
    font-weight: bold;
}

.foot {
    background-color:white;    
    border-color:black white white white;
    border-style: solid;
    position: absolute; bottom: 0%;
    height: 150px;
    width: 100%;

}

.copy {
    text-align: center;
    color: black;
}

.acc {
    color:black;
}

.c1 {
    font-size: 20px;
}

.pictureSize{
    height: 100px;
    width: 100px;
}