body {
    background-color: coral;
}

.aboutme,.navbar-brand {
   color:red; 
   
}

.word {
    font-weight: bold;
}


.img {
    float: left;
    margin: 10px;
}

.foot {
    background-color:white;    
    border-color:white;
    border-style: solid;
    position: absolute;
    height: 150px;
    width: 100%;

}

.copy {
    text-align: center;
    color: red;
}

.acc {
    color: red;
}